@import '../var';
.link {
  text-decoration: none;
  outline: none;
}

.header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  &Tabs {
    width: 0px;
    margin-left: 20px;
    @include mq(pc) {
      width: 100%;
    }
  }
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  @include mq(pc) {
    width: 100%;
  }
}
// .index {
//   &Input {
//     display: inline;
//     margin-top: 5%;
//     margin-bottom: 5%;
//     margin-left: 45px;
//     padding-left: 80px;
//     border: 1px solid;
//     border-radius: 10px;
//   }

//   &Button {
//     width: 40px;
//     padding-left: 6px;
//     @include mq(pc) {
//       width: 140px;
//     }
//     &Modal {
//       width: 120px;
//       border: 1px solid;
//       border-radius: 40px;
//       padding: 4px;
//       margin-top: 0px;
//       margin-bottom: 30px;
//     }
//   }

//   &Title {
//     margin-top: 15px;
//     font-size: 1rem;
//     display: block;
//   }
// }
